#MainDiv{
    width: 625px;
    height: 625px;
    border: 2px solid orangered;
}
#FarLeft{
    width: 34%;
    height: 100%;
    float: left;
}
#Center{
    width: 32%;
    height: 100%;
    float: left;
}
#FarRight{
    width: 34%;
    height: 100%;
    float: left;
}
#FarLeftTop{
    width: 100%;
    height: 34%;
    float: left;
    background-image: url("../images/FarLeftTop.jpg");
}
#FarLeftMiddle{
    width: 100%;
    height: 32%;
    float: left;
}
#FarLeftBottom{
    width: 100%;
    height: 34%;
    float: left;
    background-image: url("../images/FarLeftBottom.jpg");
}
#CenterTop{
    width: 100%;
    height: 34%;
    float: left;
}
#CenterMiddle{
    width: 100%;
    height: 32%;
    float: left;
}
#CenterBottom{
    width: 100%;
    height: 34%;
    float: left;
}
#FarRightTop{
    width: 100%;
    height: 34%;
    float: left;
    background-image: url("../images/FarRightTop.jpg");
}
#FarRightMiddle{
    width: 100%;
    height: 32%;
    float: left;
}
#FarRightBottom{
    width: 100%;
    height: 34%;
    float: left;
    background-image: url("../images/FarLeftBottom.jpg");
}
table{
    width: 100%;
    height: 100%;
}
#TrTdGreen{
    background-color: lawngreen;
}
#TrTdYellow{
    background-color: yellow;
}
#TrTdRed{
    background-color: red;
}
#TrTdBlue{
    background-color: blue;
}